body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url('../crew/background-crew-desktop.jpg');
	background-size: cover;
	height: 100%;
}

#content-crew h3 {
	margin-top: 154px;
	font-family: 'Bellefair';
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 37px;
	text-transform: uppercase;
	color: #FFFFFF;
	mix-blend-mode: normal;
	opacity: 0.5;
	letter-spacing: 2px;
}

#content-crew h2 {
    margin-top: 15px;
	font-family: 'Bellefair';
	font-style: normal;
	font-weight: 400;
	font-size: 56px;
	line-height: 64px;
	text-transform: uppercase;
	color: #FFFFFF;
}

#content-crew p {
	margin-top: 27px;
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	color: #D0D6F9;
	width: 444px;
	height: 160px;
}

.img {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.img-commander {
	background-image: url('../crew/image-douglas-hurley.png');
	margin-left: 137px;
	width: 514px;
	height: 700px;
}

.img-specialist {
	background-image: url('../crew/image-mark-shuttleworth.png');
	margin-left: 40px;
	width: 433px;
	height: 640px;
}

.img-pilot {
	background-image: url('../crew/image-victor-glover.png');
	margin-left: 120px;
	width: 549px;
	height: 645px;
}

.img-engineer {
	background-image: url('../crew/image-anousheh-ansari.png');
	margin-left: 50px;
	width: 575px;
	height: 602px;
}

#content-crew .nav-box {
	height: 15px;
	display: flex;
	margin-top: 70px;
}

#content-crew .nav-box .nav-link {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	margin-right: 24px;
	background: #FFFFFF;
	mix-blend-mode: normal;
	opacity: 0.17;
}

#content-crew .nav-box .nav-link:hover {
	background: #FFFFFF;
	mix-blend-mode: normal;
	opacity: 0.5;
}

#content-crew .nav-box .nav-click {
	background: #FFFFFF;
	opacity: 1;
}