* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

html, body {
	height: 100%;
}

#main .background {
	position: fixed;
	height: 100%;
	background-position: center;
	background-repeat: 	no-repeat;
	background-size: cover;
}